

 .card-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    object-fit: cover;
 }

 .indicator{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
 }